<html>
<link href='https://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

<!-- LIBS -->
<title>Login page</title>
<!-- .css -->
<link rel="stylesheet" type="text/css" href="/css/login.css"/>
<body>
<div class="login">
    <h3>Name:</h3>
    <input id="name" type="text" name="name" placeholder="name"/>
    <br>
    <h3>Password:</h3>
    <input id="password" type="password" name="password" placeholder="password"/>
    <br>
    <input id="submit" name="submit" type="submit" value="submit"/>
    <br>
    <a class="sign-up">Sign Up!</a>
    <br>
    <h6 class="no-access">Can't access your account?</h6>
</div>
</body>

<script>

    $('.login-button , .no-access').click(function () {
        $('.login').slideUp(500);
        $('.error-page').slideDown(1000);
    });

    $('.try-again').click(function () {
        $('.error-page').hide(0);
        $('.login').slideDown(1000);
    });
</script>

</html>