<html lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Login page</title>

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">
    <!-- .css -->
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <!-- .js -->
    <script type="text/javascript" src="/js/login.js"></script>
    <!-- libs -->
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="container">
        <h1>Please login</h1>
        <!--TODO потом переделать-->
        <h3>Name:</h3>
        <input id="name" type="text" name="name" placeholder="name"/>
        <br>
        <h3>Password:</h3>
        <input id="password" type="password" name="password" placeholder="password"/>
        <br>
        <button id="submit">Submiit</button>
        <br>
        <a class="sign-up">Sign Up!</a>
        <br>
        <h6 class="no-access">Can't access your account?</h6>
    </div>
</header>
</body>

<script>
    document.getElementById("submit")
        .addEventListener('click',
            () => {
                $.post(
                    {
                        url:
                            '/login',
                        contentType:
                            "application/json; charset=UTF-8",
                        <!-- TODO: почему тут мим html -->
                        mimeType:
                            "text/html; charset=UTF-8",
                        scriptCharset:
                            "utf-8",
                        data:
                            JSON.stringify(
                                {
                                    "name":
                                        $("#name").val(),
                                    "password":
                                        $("#password").val()
                                }
                            ),
                        success: function () {
                            console.log("success");
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert(jqXHR);
                            alert(textStatus);
                            alert(errorThrown);
                        }
                    }
                );
            }
        )
</script>

</html>