<html lang="en" dir="ltr">
<head>
    <title>Welcome</title>

    <!-- Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800;900&display=swap" rel="stylesheet">
    <!-- .css -->
    <link rel="stylesheet" type="text/css" href="/css/welcome.css">
    <!-- .js -->
    <script type="text/javascript" src="/js/welcome.js"></script>
</head>
<body>
<header>
    <div class="container">
        <div class="heading">
            <nav>
                <ul class="menu">
                    <li>
                        <a id="sign_up" href="#">sign up</a>
                    </li>
                    <li>
                        <a id="sign_in" href="/login">sign in</a>
                    </li>
                    <li>
                        <a id="about" href="#">about</a>
                    </li>
                </ul>
            </nav>
            <img src="/css/img/account_logo.png"
                 alt="account_icon" class="account_icon">
        </div>
    </div>
</header>

<footer>
    <div class="container">

    </div>
</footer>
</body>

</html>